*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
   font-family:'Poppins',sans-serif;
    background:#ffff;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}


.container{
    width:100%;
    display:flex;
    justify-content:center;
}
.logo-area{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:40px;
}

.logo-area img{
  width:50px;
}

.logo-area h1{
  font-size:32px;
  font-weight:800;
}


.forgot-card{
    background:#fff;
    width:100%;
    max-width:450px;
    padding:50px 30px;
    border-radius:8px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

h1{
    color:#00a300;
    font-size:2rem;
    margin-bottom:15px;
    font-weight:700;
}

p{
    color:#555;
    margin-bottom:35px;
    line-height:1.5;
}

input{
    width:100%;
    padding:15px;
    border:1px solid #d9d9d9;
    border-radius:6px;
    font-size:16px;
    outline:none;
    margin-bottom:30px;
}

input:focus{
    border-color:#00a300;
}

.btn-primary{
    width:100%;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#028a07;
    color:white;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    margin-bottom:15px;
    box-shadow:0 4px 10px rgba(0,163,0,.3);
    transition:.3s;
}

.btn-primary:hover{
    background:#028a05;
    transform:translateY(-2px);
}

.btn-secondary{
    display:block;
    width:100%;
    padding:15px;
    border:1px solid #028a07;
    border-radius:8px;
    text-decoration:none;
    color:#333;
    font-size:18px;
    background:#fff;
    transition:.3s;
}

.btn-secondary:hover{
    background:#ffffff;
}

#message{
    margin-top:20px;
    font-weight:600;
    color:#00a300;
}

/* Mobile */
@media (max-width:768px){

    .forgot-card{
        padding:40px 20px;
    }

    h1{
        font-size:1.8rem;
    }

    .btn-primary,
    .btn-secondary{
        font-size:16px;
    }
}

/* Desktop */
@media (min-width:1024px){

    .forgot-card{
        max-width:500px;
        padding:60px 40px;
    }

    h1{
        font-size:2.2rem;
    }
}